
h2{
    font-size: 24px;
}

#footer{
    margin-top: 40px;
}

#footer-text {
    font-size: 10px;
}

table {
    border-spacing: 0px;
}

.tableblock td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 4px;
}

.tableblock th {
  background-color: #fcfcfc;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding-top: 4px;
  padding-bottom: 4px;
}

table.tableblock {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.admonitionblock {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.icon {
    padding-right: 10px;
    vertical-align: top;
}

.fa {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: 32px;
}

.icon-warning{
    background: transparent url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23f39c12' d='M12.984 14.016v-4.031h-1.969v4.031h1.969zM12.984 18v-2.016h-1.969v2.016h1.969zM0.984 21l11.016-18.984 11.016 18.984h-22.031z'></path></svg>") no-repeat;
    background-size: 32px; 
}

.icon-tip{
    background: transparent url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%2300c0ef' d='M14.859 13.078c1.359-0.938 2.156-2.438 2.156-4.078 0-2.766-2.25-5.016-5.016-5.016s-5.016 2.25-5.016 5.016c0 1.641 0.797 3.141 2.156 4.078l0.844 0.609v2.297h4.031v-2.297zM12 2.016c3.844 0 6.984 3.141 6.984 6.984 0 2.391-1.172 4.453-3 5.719v2.297c0 0.563-0.422 0.984-0.984 0.984h-6c-0.563 0-0.984-0.422-0.984-0.984v-2.297c-1.828-1.266-3-3.328-3-5.719 0-3.844 3.141-6.984 6.984-6.984zM9 21v-0.984h6v0.984c0 0.563-0.422 0.984-0.984 0.984h-4.031c-0.563 0-0.984-0.422-0.984-0.984z'></path></svg>") no-repeat;
    background-size: 32px; 
}


.icon-note{
    background: transparent url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='steelblue' d='M12.984 9v-2.016h-1.969v2.016h1.969zM12.984 17.016v-6h-1.969v6h1.969zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984z'></path></svg>") no-repeat;
    background-size: 32px; 
}

.icon-important{
    background: transparent url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23f56954' d='M12.984 12.984v-6h-1.969v6h1.969zM12 17.297c0.703 0 1.313-0.609 1.313-1.313s-0.609-1.266-1.313-1.266-1.313 0.563-1.313 1.266 0.609 1.313 1.313 1.313zM15.75 3l5.25 5.25v7.5l-5.25 5.25h-7.5l-5.25-5.25v-7.5l5.25-5.25h7.5z'></path></svg>") no-repeat;
    background-size: 32px; 
}

.icon-caution{
    background: transparent url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23f56954' d='M12.984 12.984v-6h-1.969v6h1.969zM12.984 17.016v-2.016h-1.969v2.016h1.969zM23.016 12l-2.438 2.766 0.328 3.703-3.609 0.797-1.875 3.188-3.422-1.453-3.422 1.453-1.875-3.141-3.609-0.844 0.328-3.703-2.438-2.766 2.438-2.813-0.328-3.656 3.609-0.797 1.875-3.188 3.422 1.453 3.422-1.453 1.875 3.188 3.609 0.797-0.328 3.703z'></path></svg>") no-repeat;
    background-size: 32px; 
}


.quoteblock{
    margin-top: 10px;
    margin-bottom: 10px;
}

.attribution{
    text-align: right;
    font-style: italic;
}