/*
Telve  CSS
*/

html{
    font-size: 14px;
}

body, h4{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.prop .name {
    display: block;
    vertical-align: top;
    font-weight: bold;
    /*color: #555;*/
    float: left;
    margin-top: 2px;
    margin-bottom: 0;
    clear: left;
}

.prop .value {
    float: left;
    clear: left;
    width: 100%;
    position: relative;
}

.prop .value .ui-inputfield, .prop .value .ui-selectonemenu, .prop .value .ui-autocomplete{
    width: 100%;
}

.disprop .name{
    display: block;
    vertical-align: top;
    font-weight: bold;
    float: left;
    margin-top: 8px;
    margin-bottom:  0;
    clear: left;
}


.disprop .value {
    content: " ";
    float: left;
    clear: left;
    border-bottom: 1px solid var(--bs-border-color);
    width: 100%;
}

.disprop .value .filler{
    color: var( --bs-body-bg );
}

.actionButtons {
    width: 100%;
    margin-top: 10px;
    text-align: right;
}

/*Accordion CSS*/
.accordion{
    /*padding: 4px 4px 4px 16px;*/
    /*font-size: 14px;
    color: #447799; 	
    color: #4582ec;
    border-bottom:   1px solid #999;
    padding-bottom: 4px;*/
}


.accordion.hided{
}
.accordion .ui-icon{
    float: left;
}
.accordioncontent{
    padding: 4px 8px;
    margin-bottom: 20px;
}
h3.accordion{
    font-size: 1.2em;
    font-weight: bold;
}

.accordion-header{
    display: block;
    padding: 4px;
    border-bottom: 1px solid #ddd;
}

.accordion-title{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
}

.accordion-header > .accordion-tools{
    float: right;
}

/*Primefaces css düzeltmeleri*/

.ui-chkbox-icon{
    top: 30% !important;
}


/*nav-link kopyası*/
.context-command{
    display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color) !important;
  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/*
.ui-widget {
    font-size: inherit !important;
}

.ui-column-title {
    font-size: 0.8em;
}

.ui-datatable-data {
    font-size: 0.8em;
}

.ui-panel {
    padding: 0px !important;
}

.ui-panel-titlebar {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.ui-inputfield:not(textarea), .ui-autocomplete, .ui-spinner{
    width: 100% !important;
    height: 28px !important;
}

textarea.ui-inputfield, .ui-selectonemenu {
    width: 100% !important;
}
*/
/*
.ui-input-group .ui-button, .ui-datepicker-trigger, .ui-complete .ui-autocomplete-dropdown, .ui-autocomplete-dropdown{
    /border-left: 0px !important;/
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    vertical-align: top;
    height: 28px !important;
    position: absolute !important;
    right: 10px !important;
    width: 28px !important;
}

.ui-dialog > .ui-selectonemenu {
    height: 1.9em !important;
}

.ui-cell-editor-input .ui-datepicker-trigger{
    right: -1px !important;
}

.ui-autocomplete-dropdown{
    right: -2px !important;
}

.ui-selectonemenu-trigger{
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.ui-input-group .ui-selectonemenu-trigger{
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.ui-input-group .ui-button-text, .ui-datepicker-trigger{
    padding: .2em !important;
}


.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 5px !important;
}

.ui-selectonemenu-trigger{
    width: 28px !important;
}

.ui-selectonemenu-label{
    height: 26px !important;
}

.ui-input-group .ui-selectonemenu-label{
    height: 26px !important;
    width: 100% !important;
}

.ui-input-group .ui-selectonemenu-trigger{
    right: 24px !important;
}

.ui-dashboard{
    overflow: auto;
}

.ui-dashboard-column{
    padding-bottom: 10px !important;
}

.ui-dashboard-column .ui-panel{
    margin: 0.5em;
}

.ui-datatable > th {
    font-size: 1em !important;
}

.ui-chkbox .ui-chkbox-label{
    margin-right: 4px !important;
}

.ui-datalist-content.ui-widget-content {
    border: none !important;
}
*/

/*Bootstrap PrimeFaces uyumu için override*/
/*.btn-primary {
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5) !important;
    color: #fff !important;
    text-shadow: none !important;
    background-color: #1d9ce5 !important;
}

.btn-success {
  background-image: linear-gradient(#88c149, #73a839 60%, #699934) !important;
  color: #fff !important;
  text-shadow: none !important;
  background-color: #699934 !important;
}
.btn-info {
  background-image: linear-gradient(#04519b, #033c73 60%, #02325f) !important;
  color: #fff !important;
  text-shadow: none !important;
  background-color: #02325f !important;
}

.btn-warning {
  background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00) !important;
  color: #fff !important;
  text-shadow: none !important;
  background-color: #c94e00 !important;
}
.btn-danger {
  background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f) !important;
  color: #fff !important;
  text-shadow: none !important;
  background-color: #b5191f !important;
}

.fa{
    line-height: inherit !important;
}

.ui-button .fa{
    line-height: 1 !important;
}
*/

/*content-list ve content body ilişkileri*/

.skin-green .context-menu .navbar {
    border-radius: 0;
    border: 0;
}

/* Sadece firefox'da bişiler çalıştırmak için
@-moz-document url-prefix() { 
  .context-menu{
     margin-top: -15px;
  }
}
*/

/*
.context-menu{
    top: 50px;
    position: fixed;
    width: 100%;
}

.fixed .content-wrapper{
    padding-top: 100px !important;
    padding-bottom: 50px;
}
*/
/*
.content-list{
    display: table-cell;
    height: 100%;
}

.content-list-content{
    width: 350px;
}

.content-body{
    width: 100%;
    display: table-cell;
    vertical-align: top;
}

.content-list-toggle{
    position: absolute;
    clear: both;
}
*/


/*Dashboard CSS*/
.treeOne{ width: 30%; }
.treeTwo{ width: 70%; }
.half{ width: 50%; }
.one{ width: 100%; }

.dashlet-edit{
    background-color: #F4F4F4; 
    margin-top: -0.5em; 
    margin-bottom: 0.5em; 
    margin-left: -1em; 
    margin-right: -1em; 
    padding: 0.2em;
    display: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/*Table ActionColumns*/
.actionColumn{
    text-align: center;
    width:36px;
}

.actionColumnDouble{
    text-align: center;
    width:64px;
}

.actionColumnTriple{
    text-align: center;
    width:48px;
}


/*Bootstrap Primefaces Color Shcema*/

[data-bs-theme=arya] {
     --bs-body-color: #dee2e6;
     --bs-body-color-rgb: 222, 226, 230;
     --bs-body-bg: var(--blue-900);
     --bs-body-bg-rgb: 33, 37, 41;
     --bs-emphasis-color: #fff;
     --bs-emphasis-color-rgb: 255, 255, 255;
     --bs-secondary-color: rgba(222, 226, 230, 0.75);
     --bs-secondary-color-rgb: 222, 226, 230;
     --bs-secondary-bg: var(--primary-300);
     --bs-secondary-bg-rgb: 57.6, 80.8, 99.6;
     --bs-tertiary-color: rgba(222, 226, 230, 0.5);
     --bs-tertiary-color-rgb: 222, 226, 230;
     --bs-tertiary-bg: rgb(42.5, 47.5, 52.5);
     --bs-tertiary-bg-rgb: 43, 48, 53;
     --bs-primary-text-emphasis: rgb(109.8, 168, 253.8);
     --bs-secondary-text-emphasis: rgb(166.8, 172.2, 177);
     --bs-success-text-emphasis: rgb(117, 183, 152.4);
     --bs-info-text-emphasis: rgb(109.8, 223.2, 246);
     --bs-warning-text-emphasis: rgb(255, 217.8, 106.2);
     --bs-danger-text-emphasis: rgb(234, 133.8, 143.4);
     --bs-light-text-emphasis: #f8f9fa;
     --bs-dark-text-emphasis: #dee2e6;
     --bs-primary-bg-subtle: rgb(2.6, 22, 50.6);
     --bs-secondary-bg-subtle: rgb(21.6, 23.4, 25);
     --bs-success-bg-subtle: rgb(5, 27, 16.8);
     --bs-info-bg-subtle: rgb(2.6, 40.4, 48);
     --bs-warning-bg-subtle: rgb(51, 38.6, 1.4);
     --bs-danger-bg-subtle: rgb(44, 10.6, 13.8);
     --bs-light-bg-subtle: #343a40;
     --bs-dark-bg-subtle: #1a1d20;
     --bs-primary-border-subtle: rgb(7.8, 66, 151.8);
     --bs-secondary-border-subtle: rgb(64.8, 70.2, 75);
     --bs-success-border-subtle: rgb(15, 81, 50.4);
     --bs-info-border-subtle: rgb(7.8, 121.2, 144);
     --bs-warning-border-subtle: rgb(153, 115.8, 4.2);
     --bs-danger-border-subtle: rgb(132, 31.8, 41.4);
     --bs-light-border-subtle: #495057;
     --bs-dark-border-subtle: #343a40;
     --bs-heading-color: inherit;
     --bs-link-color: rgb(109.8, 168, 253.8);
     --bs-link-hover-color: rgb(138.84, 185.4, 254.04);
     --bs-link-color-rgb: 110, 168, 254;
     --bs-link-hover-color-rgb: 139, 185, 254;
     --bs-code-color: rgb(230.4, 132.6, 181.2);
     --bs-highlight-color: #dee2e6;
     --bs-highlight-bg: rgb(102, 77.2, 2.8);
     --bs-border-color: #495057;
     --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
     --bs-form-valid-color: rgb(117, 183, 152.4);
     --bs-form-valid-border-color: rgb(117, 183, 152.4);
     --bs-form-invalid-color: rgb(234, 133.8, 143.4);
     --bs-form-invalid-border-color: rgb(234, 133.8, 143.4);
}
