/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

.npbar {
  background: #29d;
  /*background: #fff;*/

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
.nppeg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
.npspinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

.npspinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.skin-blue .npbar,
.skin-blue-light .npbar,
.skin-green .npbar,
.skin-green-light .npbar,
.skin-purple .npbar,
.skin-purple-light .npbar{
    background: #F39C12;
}

.skin-blue .nppeg,
.skin-blue-light .nppeg,
.skin-green .nppeg,
.skin-green-light .nppeg,
.skin-purple .nppeg,
.skin-purple-light .nppeg{
    box-shadow: 0 0 10px #F39C12, 0 0 5px #F39C12;
}

.skin-blue .npspinner-icon,
.skin-blue-light .npspinner-icon,
.skin-green .npspinner-icon,
.skin-green-light .npspinner-icon,
.skin-purple .npspinner-icon,
.skin-purple-light .npspinner-icon{
  border-top-color: #F39C12;
  border-left-color: #F39C12;  
}
