<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="#{themeManager.layoutTemplate}">

    <ui:param name="dontShowContentHeader" value="true" />
    <ui:param name="pageTitle" value="#{messages['homepage.dashboard.title']}"/>

    <ui:define name="body">
        <ui:include src="/layout/messages.xhtml" />

        <div class="row">
            <p:dashboard model="#{dashboardManager.getDashboardModel()}">
                <p:ajax event="reorder" listener="#{dashboardManager.handleReorder}" /> 

                <c:forEach items="#{dashboardManager.getDashlets()}" var="dashlet" varStatus="loop" >
                    <ui:include src="/dashlets/#{dashlet}.xhtml" />

                    <ui:include src="/dashlets/empty.xhtml" />
                </c:forEach>
            </p:dashboard>
        </div>
    </ui:define>


    <ui:define name="context-menu">

        <c:forEach items="#{dashboardManager.dashboards}" var="dashboard" varStatus="loop">
            <li>
                <h:link id="dashborad#{loop.index}" >
                    <f:param name="board" value="#{loop.index}" />
                    <i class="fa fa-th-large" />
                    <span>#{dashboard.name}</span> 
                </h:link>
            </li>
        </c:forEach>
    </ui:define>
    
    <ui:define name="context-menu-right">
        <li class="pull-right">
            <h:link outcome="/dashboardEditor.xhtml" id="dashboradeditor" >
                <i class="fa fa-edit"/>
                <span>#{messages['module.caption.DashboardEditor']}</span> 
            </h:link>
        </li>
    </ui:define>

</ui:composition>