<?xml version="1.0"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ds="http://deltaspike.apache.org/jsf"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
        <c:if test="#{telveConfigResolver.getProperty('brand.company.favicon') ne null}">
            <link rel="icon" href="#{request.contextPath}/javax.faces.resource/img/#{telveConfigResolver.getProperty('brand.company.favicon')}.jsf?ln=brand" />
            <link rel="shortcut icon" href="#{request.contextPath}/javax.faces.resource/img/#{telveConfigResolver.getProperty('brand.company.favicon')}.jsf?ln=brand" />
        </c:if>
        <title>#{telveConfigResolver.getProperty('app.title')}</title>

        <h:outputStylesheet library="telve" name="css/login-style.css" />
        <h:outputStylesheet library="telve" name="css/bootstrap.css" />
        <h:outputScript library="primefaces" name="jquery/jquery.js" />
        <h:outputScript library="telve" name="js/jquery.backstretch.min.js" />

        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery.backstretch("#{request.contextPath}/javax.faces.resource/img/#{telveConfigResolver.getProperty('app.login.image')}.jsf?ln=brand");
            });
        </script>

    </h:head>

    <h:body styleClass="login-page">
        <ds:windowId />

        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>#{telveConfigResolver.getProperty('app.login.title')}</h3>
                                    <p>#{messages['general.label.PleaseEnterUserNameAndPassword']}</p>
                                    <p><p:messages globalOnly="true"/></p>
                                </div>
                                <div class="form-top-right" style="opacity: unset;">
                                    <ui:fragment rendered="#{telveConfigResolver.getProperty('brand.company.loginLogo') eq null }" >
                                        <i class="fa fa-lock"></i>
                                    </ui:fragment>
                                    <ui:fragment rendered="#{telveConfigResolver.getProperty('brand.company.loginLogo') ne null}" >
                                        <img src="#{request.contextPath}/javax.faces.resource/img/#{telveConfigResolver.getProperty('brand.company.loginLogo')}.jsf?ln=brand" class="img-thumbnail" with="128"/>
                                    </ui:fragment>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <h:form id="login-form" role="form" class="login-form">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">#{messages['general.label.UserName']}</label>
                                        <p:inputText id="form-username" placeholder="#{messages['general.label.UserName']}" styleClass="form-username form-control" value="#{loginCredentials.username}" />
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">#{messages['general.label.Password']}</label>
                                        <p:password id="form-password" placeholder="#{messages['general.label.Password']}" styleClass="form-password form-control" value="#{loginCredentials.password}" />
                                    </div>
                                    <p:commandButton id="login" value="#{messages['general.label.Login']}" action="#{loginController.login()}" ajax="false" styleClass="btn"/>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </h:body>
</html>
