<ui:component xmlns="http://www.w3.org/1999/xhtml"
              xmlns:c="http://java.sun.com/jsp/jstl/core"
              xmlns:f="http://java.sun.com/jsf/core"
              xmlns:ui="http://java.sun.com/jsf/facelets"
              xmlns:p="http://primefaces.org/ui"
              xmlns:composite="http://java.sun.com/jsf/composite">


    <composite:interface>
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="label" required="true"/>
        <composite:attribute name="placeholder" required="false"/>
        <composite:attribute name="required" required="false" type="java.lang.Boolean" default="false"/>
        <composite:attribute name="readonly" required="false" type="java.lang.Boolean" default="false"/>
        <composite:attribute name="columnClass" required="false" default="col-md-6 col-xs-12"/>
        <composite:attribute name="last" required="false" type="java.lang.Boolean" default="false"/>
        <composite:clientBehavior name="blur" event="blur" targets="#{cc.id}_inp" />
        <composite:attribute name="regexValidator" required="false" type="java.lang.Boolean" default="false"/>
        <composite:attribute name="regex" required="false"/>
    </composite:interface>

    <composite:implementation>
        <div id="#{cc.clientId}" class="prop #{cc.attrs.columnClass} #{cc.attrs.last ? 'end' : '' }">

            <p:outputLabel for="#{cc.id}_inp" value="#{messages[cc.attrs.label]}" styleClass="name #{invalid?'errors':''}" />
            <span class="value">
                <p:inputText id="#{cc.id}_inp" value="#{cc.attrs.value}" placeholder="#{cc.attrs.placeholder}" required="#{cc.attrs.required}" readonly="#{cc.attrs.readonly}" >
                    <p:clientValidator />
                    <c:if test="#{cc.attrs.regexValidator}">
                        <f:validateRequired/>
                        <p:keyFilter regEx="#{cc.attrs.regex}"/>
                    </c:if>
                </p:inputText>
            </span>
            <p:message for="#{cc.id}_inp" display="tooltip"/>
        </div>
    </composite:implementation>

</ui:component>